<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Creando usuarios
    </ion-label>
  </ion-item>
  
 
<!-- <ion-button (click)="generarUsuario()">Generar</ion-button> -->
<ion-button (click)="muestraLista()">Lista</ion-button>
  <ion-list *ngIf="avalaible"  >
    <ion-item  *ngFor="let item of estudios">
      <ion-label>{{item.identification}}</ion-label>
          <ion-label>{{item.name}}</ion-label>     
      <ion-label>{{item.lastname}}</ion-label>  
    </ion-item>  
  </ion-list>
</ion-content>
